.jumbotron {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message {
    font-size: 24px; /* Adjust the font size as needed */
}

.h5 {
    font-size: 18px; /* Adjust the font size as needed */
}
