{% extends 'base.html' %}

{% block title %} | Admin Dashboard {% endblock %}

{% block content %} 

<div class="container-fluid bg-dark text-light">
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar" class="col-sm-2 bg-dark">
            <div class="p-3 text-center ">
               <a href=" {% url 'dashboard' %}" class="btn btn-dark"> <h3>Admin Dashboard</h3></a>
            </div>

            <div class="container-fluid text-center">
                <div class="btn-container">
                    <a href="{% url 'view-users' %}" class="btn text-primary btn-block my-1" data-route="view-users"><strong>View Users</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
            </div>
            
            
        </div>
        
       
        <div id="main-content" class="col-md-9">

           {% block page %}
           <div class="row container-fluid">
           <div class="p-3 bg-primary text-center col-md-3 my-1 mx-1">No of users: {{ users }}</div>
           <div class="p-3 bg-primary text-center col-md-3 my-1 mx-1">No of tests: 6546</div>
        </div>
           {% endblock %}
        </div>
    </div>
</div>

{% endblock %}