{% extends 'base.html' %}

{% block title %} | Admin Dashboard {% endblock %}

{% block content %} 

<div class="container-fluid bg-dark text-light">
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar" class="col-sm-2 bg-dark">
            <div class="p-3 text-center ">
                <h3>Admin Dashboard</h3>
            </div>
<style>
    .btn-container a:hover{
        text-decoration: underline;
        transform: scale(1.1);
        transition:transform 0.2s ease;
    }
</style>
            <div class="container-fluid text-center">
                <div class="btn-container">
                    <a href="{% url 'view-users' %}" class="btn text-primary btn-block my-1" data-route="view-users"><strong>View Users</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
                <div class="btn-container">
                    <a href="#" class="btn text-primary btn-block my-1"><strong>View Sets</strong></a>
                </div>
            </div>
            
            
        </div>
        
       
        <div id="main-content" class="col-md-9">
           {% block page %}
           {% endblock %}
        </div>
    </div>
</div>

{% endblock %}