{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %} 
<div class="p-3 bg-primary text-center text-light display-6"><strong>Welcome, {{ request.user.username }}</strong></div>



<div class="text-center row container-fluid mt-5  text-light">
<div class="p-4 bg-primary text-light col-md-6">Tests Taken: 23</div>
<div class="p-4 bg-success text-light col-md-6">Tests Passed: 20</div>
</div>

<div class="p-3  text-center text-light display-6 mt-5">
    <a href="{% url 'test_page' %}" class="btn btn-primary">Take New Test</a>
</div>



{% endblock %}