{% extends "base.html" %} {# Assuming you have a base.html template #}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Participant Details</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}" class="font-weight-bold">Name</label>
                            {{ form.name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}" class="font-weight-bold">Email</label>
                            {{ form.email|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.address.id_for_label }}" class="font-weight-bold">Address</label>
                            {{ form.address|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.phone.id_for_label }}" class="font-weight-bold">Phone</label>
                            {{ form.phone|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.education.id_for_label }}" class="font-weight-bold">Education</label>
                            {{ form.education|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.university.id_for_label }}" class="font-weight-bold">University</label>
                            {{ form.university|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.dob.id_for_label }}" class="font-weight-bold">Date Of Birth</label>
                            {{ form.dob|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
