{% extends "base.html" %}

{% block title %} | Register {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">User Registration</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}">Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
